@import '~bootstrap-grid'

body
  margin 0
  padding 0


.row
  div
    box-sizing border-box


.matrix
  padding-bottom 10px
  .cell 
    padding 5px
    width 100px
    display inline-block
    input
      text-align center